body {
background-color: #0d1b2a;
color: white;
font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 90%;
margin: 0px;
flex-direction: column;

}
h2{

}
.view-container {
display: flex;
width: 100%;
flex-direction: row;
justify-content: space-around;
align-items: flex-start; /* para que queden arriba */
gap: 40px;
padding: 20px 0px;
flex-wrap: nowrap; /* ← importante para mantener en una fila */
margin:0px;
}

.cont-jugador1,
.cont-jugador2 {
    width: 220px;
    box-sizing: border-box;
justify-content: center;
align-items: start; 
padding: 20px;
border-radius: 12px;
box-shadow: 0 0 10px #1e90ff;
flex-shrink: 0;
margin:0px 10px;
}

/**/
.btn-container{
width: 100px;
height: 140px;
}
img{
width: 100%;
     
}
.adivinado{
     width: 100px;
height: 140px;
}



.btn-container {
background-color: #1c2a3c;
border-radius: 20px;
width:80px;
height: 140px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
transition: transform 0.2s;
}

.btn-container:hover {
transform: scale(1.03);
}

.game-container {
flex: 1;
flex-grow: 1;
height:90%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
grid-auto-rows: 1fr;
gap: 8px;
padding: 20px;
justify-items: center;
}

p {
background-color: #223448;
margin: 8px 0;
padding: 8px;
border-radius: 10px;
font-size: 18px;
font-weight: bolder;
font-size: larger;
}
