body {
display: flex;
background-color: #0d1b2a;
color: white;
font-family: Arial, sans-serif;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
flex-direction: column;
}
.infoLobby{
display: flex;
flex-direction: row;
font-family: Arial, sans-serif;
font-size: medium;
gap:20px;
}
.jugadores{
display: flex;
flex-direction: column;
background-color: #1b263b;
border-radius: 10px;
padding: 40px;
width: 320px;
text-align: center;
box-shadow: 0 0 20px #415a77;
}

/**/
.ultimaPartida {
  display: flex;
  flex-direction: column;
  background-color: #1b263b;
  border-radius: 20px;
  padding: 50px 30px;
  width: 420px;
  text-align: center;
  box-shadow: 0 0 30px rgba(65, 90, 119, 0.7);
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
font-weight: bolder;

}

.ultimaPartida:hover {
  transform: scale(1.02);
  box-shadow: 0 0 40px rgba(65, 90, 119, 0.9);
}

.titulo {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 30px;
}

.ultimaPartida p {
  margin: 10px 0;
  color: #e0e0e0;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #1e90ff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 35px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0072e3;
}
